
@{
    Layout = null;
}

<!DOCTYPE html>

<h2 style="text-align:center; margin-top:20%; font-size:50px">Coś poszło nie tak!</h2>
<div style="text-align:center; font-size:25px">Skonsultuj się z administratorem systemu jeśli błąd się powtarza.</div>

<div style="text-align:center">
    @Html.ActionLink("Powrót do strony głównej", "Home", "Home")
</div>